<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <!-- <link rel="apple-touch-icon" sizes="76x76" href="/public/img//apple-icon.png"> -->
  <link rel="icon" type="image/png" href="/public/img/favicon2.jpg">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <meta property="og:title" content= "<%=typeof og.title == 'undefined' ? 'Cô Vịt 19 Tuổi' : og.title %>">
  <meta property="og:site_name" content="Cô Vịt">
  <meta property="og:type" content="<%= typeof og.type == 'undefined' ? `website` : og.type %>" />
  <meta property="og:url" content="<%= typeof og.url == 'undefined' ? `http://covit.vn` : og.url %>">
  <meta property="og:description" content= "<%= typeof og.description == 'undefined' ? `Tri ân đội ngũ chống dịch COVID-19, giữ lại những kỉ niệm vui về năm tháng không thể quên` : og.title %>" >
  <meta property="og:image" content="<%= typeof og.image == 'undefined' ? `http://covit.vn/public/heroes.jpg` : og.image %>">
  <meta property="fb:app_id" content="2653275661616247" />

  <title>
    Cô Vịt
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/public/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/public/css/paper-kit.css?v=2.3.0" rel="stylesheet" />
  <link href="/public/css/bootstrap-toggle.min.css" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/public/css/demo.css" rel="stylesheet" />
</head>

<body class="discover sidebar-collapse">
  
  <%- body %>
  <% include ../inc/footer %>
  <!--   Core JS Files   -->
  <script src="/public/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="/public/js/core/popper.min.js" type="text/javascript"></script>
  <script src="/public/js/core/bootstrap.min.js" type="text/javascript"></script>
  
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="/public/js/plugins/moment.min.js"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="/public/js/plugins/bootstrap-tagsinput.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="/public/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
  <!--	Plugin for Datetimepicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="/public/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!--	Plugin for bootstrap toogle, full documentation here: https://www.bootstraptoggle.com/ -->
  <script src="/public/js/plugins/bootstrap-toggle.min.js" type="text/javascript"></script>
  <!--  Vertical nav - dots -->
  <!--  Photoswipe files -->
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <!-- <script src="/public/js/plugins/bootstrap-switch.js"></script> -->
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <!-- <script src="/public/js/plugins/nouislider.min.js" type="text/javascript"></script> -->
  <!-- <script src="/public/js/plugins/photo_swipe/photoswipe.min.js"></script> -->
  <!-- <script src="/public/js/plugins/photo_swipe/photoswipe-ui-default.min.js"></script> -->
  <!-- <script src="/public/js/plugins/photo_swipe/init-gallery.js"></script> -->
  <!--  for Jasny fileupload -->
  <script src="/public/js/plugins/jasny-bootstrap.min.js"></script>
  <!-- Control Center for Paper Kit: parallax effects, scripts for the example pages etc -->
  <script src="/public/js/paper-kit.js?v=2.3.0" type="text/javascript"></script>
  
  <!--  Plugin for presentation page - isometric cards  -->
  <!-- <script src="/public/js/plugins/presentation-page/main.js"></script> -->
  <%-script%>
</body>

</html>