<footer class="footer   footer-white ">
    <div class="container">
      <div class="row">
        <nav class="footer-nav">
          <!-- <ul>
            <li>
              <a href="https://hus" target="_blank">HUST</a>
            </li>
          </ul> -->
        </nav>
        <div class="credits ml-auto">
          <span class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script>, made with <i class="fa fa-heart heart"></i> G&BB
          </span>
        </div>
      </div>
    </div>
  </footer>