<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top <%= transparent ? 'navbar-transparent' : 'bg-info' %> nav-down">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/happy" rel="tooltip" title="<%=__('19 years old duck')%>" data-placement="bottom">
            <img  class= "logo-svg" src = "/public/img/logo/logo co vit-02-02.svg"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      
      <div class="collapse navbar-collapse" data-nav-image="/public/img/blurred-image-1.jpg" data-color="orange">
        <!-- <form class=" ml-auto mb-0 pb-0">
          <div class="has-white">
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </form> -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/happy" id="homenav"><%=__('Home')%></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addStory" id="homenav"><%=__('Your Story')%></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aboutUs" id="homenav"><%=__('Our Story')%></a>
            </li>
            <li class="nav-item dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <%= __('En') %>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/en">English</a>
                    <a class="dropdown-item" href="/vi">Tiếng Việt</a>
                </div>
            </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->