<div class="modal fade photoModal " id="photo-modal" tabindex="-1" role="dialog" aria-labelledby="largeModal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content story-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-story-name"></h6>
            </div>
            <div class="row modal-body justify-content-center">
                <div id="photo-output-field" class="col-md-8 card card-plain card-image justify-content-center">
                    <img id="modal-image" alt="Rounded Image" class="img-rounded img-responsive img-fluid ">
                </div>
                <div id="video-output-field" class="col-md-8 iframe-container d-none">
                    <iframe id="youtube-player" src="" frameborder="0"
                         allowfullscreen height="315"></iframe>
                </div>
                <div class="col-md-4 card card-plain">
                    <div class="card-body details-center">
                        <i id="modal-story-type" class="icon-danger"></i>
                        <i id="location-icon" class="icon-primary"></i>
                        <span id="modal-story-location"></span>
                        <div class="text">
                            <blockquote class="blockquote">
                                <p id="modal-story-description"></p>
                                <footer class="blockquote-footer"><cite title="Source Title"
                                        id="modal-story-author">Source Title</cite></footer>
                            </blockquote>
                        </div>
                        <p id="modal-story-tags"> </p>
                        <p id="modal-story-date"> </p>
                        <p><i id="love-story-btn" class="btn btn-danger btn-just-icon fa fa-thumbs-o-up "></i> <span
                                id="modal-story-love"></span> người thích </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>