<%- include("./inc/navbar", {transparent:false})%>
<div class="header-3">
    
    <div class="page-carousel">
      <div class="filter"></div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="page-header" style="background-image: url('/public/img/about/left.jpg');">
              <div class="filter"></div>
              <div class="content-center">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6 text-left">
                      <h1 class="title"><%= __('Is COVID-19 Scary?') %></h1>
                      <h5><%= __(`But little Duck is not! Let's share love and smile to light up the day!`) %></h5>
                      <br />
                      <div class="buttons">
                        <a href="/addStory" class="btn btn-primary btn-round  btn-lg">
                          <i class="fa fa-share-alt"></i><%= __('Share now')%>
                        </a>
                        <!-- <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
                          <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
                          <i class="fa fa-facebook-square"></i>
                        </a>
                        <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
                          <i class="fa fa-get-pocket"></i> -->
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="page-header" style="background-image: url('/public/img/about/center.svg')">
              <div class="filter"></div>
              <div class="content-center">
                <div class="container">
                  <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                      <h1 class="title"><%= __(`Make Our Heroes Smile`)%></h1>
                      <h5><%= __(`We do hope that our frontline hereos can start a day with a smile from YOUR stories!`)%></h5>
                      <!-- <p><%= __(`Let's share YOUR stories and mke them happy!`)%></p> -->
                      
                      <br />
                      <div class="buttons">
                        <a href="/happy" class="btn btn-success btn-round btn-lg">
                        <%= __('Discover') %>
                        </a>
                      </div>
                      <!-- <h6>Connect with us:</h6>
                      <div class="buttons">
                        <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
                          <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
                          <i class="fa fa-facebook-square"></i>
                        </a>
                        <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
                          <i class="fa fa-instagram"></i>
                        </a>
                        <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
                          <i class="fa fa-google-plus"></i>
                        </a>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="page-header" style="background-image: url('/public/img/about/right.jpg')">
              <div class="filter"></div>
              <div class="content-center">
                <div class="container">
                  <div class="row">
                    <div class="col-md-7 ml-auto text-right">
                      <h1 class="title"><%= __('Be Positive') %></h1>
                      <h5><%= __('Little Duck counts on you! Share meaningful stories, lovely gestures or funny picture') %></h5>
                      <br />
                      <div class="buttons">
                        <a href="/smile" class="btn btn-success btn-round btn-lg">
                        <%= __('Discover') %>
                        </a>
                        <!-- <a href="#pablo" class="btn btn-success btn-round btn-lg">
                          <i class="fa fa-shopping-cart"></i> Shop Now
                        </a>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="fa fa-angle-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="fa fa-angle-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    
  </div>