
<%- include("./inc/navbar", {transparent:false})%>
<div class="section">
    <div class="container">
        <div class ="row justify-content-center">
            <% if(typeof errors != 'undefined'){ %>
                <% errors.forEach((e) => { %>
                    <div class="alert alert-danger alert-with-icon">
                        <div class="alert-wrapper">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="nc-icon nc-simple-remove"></i>
                            </button>
                            <div class="message">
                            <i class="nc-icon nc-bell-55"></i>
                            <%= e %>
                            </div>
                        </div>
                        </div>
                <% }) %>
            <% } %>
        </div>
      <h3><%= __('Your story') %></h3>
        <form id="story-form" action="/addStory" method="POST" encType="multipart/form-data">
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <div  class="mb-2"> <input name="visualForm" checked  id="story-type" type="checkbox" data-toggle="toggle"  data-on="Photo" data-off="Video" data-onstyle="primary" data-offstyle="danger" data-width="100" data-height="20"> </div>
                    <!-- <h6><%=__('Story photo') %> <span class="icon-danger">*</span></h6> -->
                    <div id="video-input-field" class="iframe-container d-none">
                        <iframe id="youtube-player" src="" frameborder="0"
                            allowfullscreen height="250"></iframe>
                    </div>
                    <div id="photo-input-field" class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail img-no-padding" style="max-width: 370px; max-height: 250px;">
                            <img name = "photo" src="/public/img/image_placeholder.jpg" alt="...">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail img-no-padding" style="max-width: 370px; max-height: 250px;"></div>
                        <div>
                            <span class="btn btn-outline-default btn-round btn-file">
                            <span class="fileinput-new"><%= __('Select image') %></span>
                            <span class="fileinput-exists"><%= __('Change') %></span>
                            <input type="file" name="uploadPhoto" accept="image/*">
                            </span>
                            <a href="#" class="btn btn-link btn-danger fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> <%= __('Remove') %></a>
                        </div>
                    </div>



                    <h6>Tags </h6> <span class="font-italic font-weight-light text-lowercase"><%= __('(seperated by comma)') %></span>
                    <div id="tags">
                    <input name="itag" class="tagsinput" data-color="primary" type="text" value="love, smile, happy" data-role="tagsinput" />
                    </div>
                    <h6><%= __('Categories') %>
                    <span class="icon-danger">*</span>
                    </h6>
                    <div class="form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="icategories" id="loveRadio" value="1" > <%= __('Love') %>
                        <span class="form-check-sign"></span>
                    </label>
                    </div>
                    <div class="form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="icategories" id="smileRadio" value="2" > <%= __('Smile') %>
                        <span class="form-check-sign"></span>
                    </label>
                    </div>
                </div>
                <div class="col-md-7 col-sm-7">
                    
                    <div class="form-group">
                    <h6><%= __('Story name') %> <span class="icon-danger">*</span></h6>
                    <input name="isname" type="text" class="form-control border-input" placeholder="<%= __('Name your story') %>..." >
                    </div>
                    
                    <div class="form-group">
                        <h6><%= __('Author') %> <span class="icon-danger">*</span></h6>
                        <input name="ianame" type="text" class="form-control border-input" value="anonymous" placeholder="<%= __('Author name') %>..." >
                    </div>
                    
                    <div id="source-link-field" class="form-group">
                        <h6 ><%= __('Source') %> <span id="source-link-required" class="icon-danger"></span></h6>
                        <input id="source-link" name='isource' type="text" class="form-control border-input" placeholder="<%= __('Credit source') %>... " >
                    </div>
                    
                    <div class="row price-row">
                    <div class="col-md-6">
                        <h6><%= __('Date taken') %></span></h6>
                        <div class="input-group date" id="datetimepicker">
                            <input name="itakendate" type="text" class="form-control datetimepicker" placeholder="01/04/2020" />
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <span class="glyphicon glyphicon-calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <h6><%= __('Location') %></h6>
                        <div class="input-group border-input">
                            <select name="ilocation" class="form-control" id="location" name="location">
                                <option value='<%= location[location.length-1].id%>' selected> <%= location[location.length-1].name%> </option>
                                <% for(var i = 0; i < location.length-1; i ++){%>
                                    <option value='<%= location[i].id%>'> <%= location[i].name%> </option>
                                <% } %>                      
                            </select>
                        </div>
                    </div>
                    </div>

                    <div class="form-group">
                    <h6><%= __('Description') %></h6>
                    <textarea name="idescription" class="form-control textarea-limited" placeholder="<%= __('Short description of the story') %>" rows="13" maxlength="300"></textarea>
                    <h5>
                        <small>
                        <span id="textarea-limited-message" class="pull-right">300 <%= __('characters left') %></span>
                        </small>
                    </h5>
                    </div>

                    <div class="form-check">
                    <label class="form-check-label">
                        <input name="tac" class="form-check-input" type="checkbox" value="1"> <%=__('Accept')%> 
                        <span class="form-check-sign"></span>
                    </label>
                    <a href="/#" ><%=__('Terms and Conditions') %></a>
                    </div>
                    <p> <%= __('Story will be pending for approval after submit')%></p>
                    

                    <input type="hidden" id="gRecaptchaResponse" name="gRecaptchaResponse">
                    <input type="hidden" name="action" value="validate_captcha">
                </div>
            </div>
            <div class="row buttons-row justify-content-center mt-3">
            <div class="col-md-4 col-sm-4">
                <button class="btn btn-primary btn-block btn-round" type="submit"><%= __('Save & Publish') %> </button>
            </div>
            </div>

        </form>
      </div>
    </div>
  </div>
  <script src="https://www.google.com/recaptcha/api.js?render=6LfSA-cUAAAAAObr_BLgvv4qXjVhhSjRhgXIs60A"></script>
  <script>
        let urlCheck = 0, storyType =  0;
        // Init datetime
        $('#datetimepicker').datetimepicker({
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });

        grecaptcha.ready(function() {
        // do request for recaptcha token
        // response is promise with passed token
            grecaptcha.execute('6LfSA-cUAAAAAObr_BLgvv4qXjVhhSjRhgXIs60A', {action:'validate_captcha'})
                    .then(function(token) {
                // add token value to form
                document.getElementById('gRecaptchaResponse').value = token;
            });
        });

        $('#story-type').change(function() {
            let type = $(this).prop('checked'); // true for photo, false for video
            if(type){
                $('#photo-input-field').removeClass('d-none');
                $('#video-input-field').addClass('d-none');
                $('#source-link').attr('placeholder', "link bài gốc")
                $('#source-link-field').removeClass('has-danger');
                $('#source-link-required').text("") ;
                storyType = 0;
            }
            else{
                $('#photo-input-field').addClass('d-none');
                $('#video-input-field').removeClass('d-none');
                $('#source-link').attr('placeholder', "link youtube ")
                $('#source-link-field').addClass('has-danger');
                $('#source-link').focus();
                $('#source-link-required').text("*") ;
                storyType = 1;
            }
        })

        $('#source-link').change(function(){
            var url = $('#source-link').val();
            if (url != undefined || url != '') {
                var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=|\?v=)([^#\&\?]*).*/;
                var match = url.match(regExp);
                if (match && match[2].length == 11) {
                    // Do anything for being valid
                    // if need to change the url to embed url then use below line
                    $('#youtube-player').attr('src', 'https://www.youtube.com/embed/' + match[2] + '?autoplay=0');
                    $('#source-link-field').removeClass('has-error');
                    $('#source-link-field').removeClass('has-danger');
                    urlCheck = 1;
                }
                else {
                    // Do anything for not being valid
                    $('#source-link-field').removeClass('has-error');
                    urlCheck = 0;
                }
            }
        })

        $('#story-form').submit(function(e){
            // story is a youtube link but url is invalid
            if(storyType == 1 && urlCheck == 0){
                alert("Youtube Link Error")
                event.preventDefault();
            }
        })
  </script>