<%- include("./inc/navbar", {transparent:false})%>
<div class="wrapper">
    <div class="wrapper">
        <div class="main">
            <div class="section">
                <div class="container">
                    <!-- Top pannel section -->
                    <div class="row">
                        <div class="col-12 ml-auto mr-auto text-center mb-2">
                            <h2 class="discover-title">
                                <small><%=__(`Let's start a new day with`)%></small>
                            </h2>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-6 ml-auto mr-auto  mb-4 d-flex justify-content-center">
                            <button id = "love-btn" class="btn btn-primary btn-magnify btn-round">
                                <i class=" fa fa-heart"></i>
                                <%=__('Love')%>
                            </button>

                            <button id = "happy-btn" class="btn btn-primary btn-rotate btn-round ml-2 mr-2">
                                <i class=" fa fa-star"></i>
                                <%=__('Happy')%>
                            </button>

                            <button id = "smile-btn" class="btn btn-primary btn-magnify btn-round mr-2">
                                <i  class="fa fa-smile-o"></i>
                                <%=__('Smile')%>
                            </button>

                        </div>
                    </div>
                    <!-- Photo section-->
                    <% let slength = Math.ceil(story.length/3) * 3 %>
                    <% for(i = 0; i < slength; i++){ %>
                        <% if(i % 3 == 0) { %>
                        <div class="row items-row">
                        <%} %>     
                            <% if(i % 3 == 0 || i % 3 == 2) { %>
                                <div class="col-md-3 col-sm-4 ml-auto">
                            <%} else { %> 
                                <div class="col-md-4 col-sm-4  ml-auto mr-auto">
                            <% } %>
                                    <div class="card text-center">
                                        <% if( i < story.length ) { %>
                                        <div class="card-image">
                                            <a href="#photoModal" data-toggle="modal" data-target=".photoModal" data-id="<%= JSON.stringify(story[i].id) %>">
                                                <img src="/public/upload/thumb/<%= story[i].photoURL.slice(16) %>"  alt="Rounded Image" class="img-rounded img-responsive" onerror="this.src='<%= story[i].photoURL %>'">
                                            </a>
                                            <div class="card-body details-center">
                                                <div class="author">              
                                                    <% if(story[i].type == 1) { %>
                                                        <img src="/public/img/default/heart.png" alt="love story" class="img-circle img-responsive">
                                                    <% } else if(story[i].type == 2) { %>
                                                        <img src="/public/img/default/smile.png" alt="love story" class="img-circle img-responsive">                                      
                                                    <% } %>
                                                    <div class="text">
                                                        <span class="name"><%= story[i].storyName %></span>
                                                        <div ><p><%= story[i].authorName %></p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                        <% if(i % 3 == 2) { %>
                                </div>
                        <%} %>     
                    <% } %>

                    <!-- Pagnition -->
                    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                        <ul class="pagination">
                            <% pageParams.pagnitionArr.forEach( p => { %>
                                <% if(p.page == -1) { %>
                                    <span>&hellip;</span>        
                                <% } else { %>
                                    <li class="page-item"><a class="page-link <%= p.isActive? 'active':'' %>" href="<%=p.url %>"><%= p.page  %></a></li>
                                <% } %>
                            <% }) %>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("./inc/storyModal") %>
<script>
    let stories = <%- JSON.stringify(story) %>;
    let specificStory = <%- JSON.stringify(specificStory) %>;
    // let og = <%- JSON.stringify(og) %>;
    // console.log(og)
</script>
<script src="/public/js/main.js" type="text/javascript"></script>
