<%- include("./inc/navbar", {transparent:false})%>
<div class="wrapper">
    <div class="wrapper">
        <div class="main">
            <div class="section">
                <div class="container">
                    
                    <h4 class="text-center text-primary"><%= __('Little Duck thanks you for your story!') %></h4>
                    <h4 class="text-center text-primary mb-4"><%= __('Our baby ducks are working hard to get your story posted! Stay tuned!') %></h4>
                    
                    <h6 class= "text-right"><a href="/happy"><%= __('Click here to return to homepage') %></a></h6>
                </div>
            </div>
        </div>
    </div>
</div>
