<%- include("./inc/navbar", {transparent:false})%>
<div class="wrapper">
    <div class="wrapper">
        <div class="main">
            <div class="section">
                <div class="container">
                    <div class="row ">
                        <h4>sdfds</h4>
                    </div>
                    <div class="row ">

                    </div>
                    <div class="row item-row">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th><%= __('Story') %></th>
                                <th><%= __('Name') %></th>
                                <th><%= __('Author') %></th>
                                <th class="text-right"><%= __('Type') %></th>
                                <th class="text-right"><%= __('Form') %></th>
                                <th class="text-right"><%= __('Status') %></th>
                                <th class="text-right"><%= __('Actions') %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(i = 0; i < story.length; i++){ %>
                            <tr id="tr-<%= story[i].id %>">
                                <td class="text-center"><%= i %></td>
                                <td >
                                    <a href="#photoModal" data-toggle="modal" data-target=".photoModal" data-id="<%= JSON.stringify(story[i].id) %>">
                                        <img src="<%=story[i].photoURL%>"  class=" img-responsive img-revise">
                                    </a>
                                </td>
                                <td ><%=story[i].storyName %></td>
                                <td><%=story[i].authorName %></td>
                                <td class="text-right"><%= story[i].type == 0 ? __('Love') : __('Smile') %></td>
                                <td class="text-right"><%= story[i].visualForm == 0 ? __('Photo') : __('Video') %></td>
                                <td class="text-right"><%= story[i].isActive == 0 ? __('Accepted') : __('Rejected') %></td>
                                <td class="td-actions text-right">
                                    <button id= "accept-story-btn-<%= i %>" type="button" rel="tooltip" class="btn btn-success btn-sm btn-icon" value="<%= story[i].id %>">
                                        <i class="fa fa-check"></i>
                                    </button>
                                    <button id= "reject-story-btn-<%= i %>" type="button" rel="tooltip" class="btn btn-danger btn-sm btn-icon" value="<%= story[i].id %>">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                    </div>      
                    <!-- Pagnition -->
                    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                        <ul class="pagination">
                            <% pageParams.pagnitionArr.forEach( p => { %>
                                <% if(p.page == -1) { %>
                                    <span>&hellip;</span>        
                                <% } else { %>
                                    <li class="page-item"><a class="page-link <%= p.isActive? 'active':'' %>" href="<%=p.url %>"><%= p.page  %></a></li>
                                <% } %>
                            <% }) %>
                        </ul>
                    </nav>

                    <input type="hidden" id="gRecaptchaResponse" name="gRecaptchaResponse">
                    <input type="hidden" name="action" value="validate_captcha">
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("./inc/storyModal") %>
<script>let stories = <%- JSON.stringify(story) %></script>
<script src="https://www.google.com/recaptcha/api.js?render=6LfSA-cUAAAAAObr_BLgvv4qXjVhhSjRhgXIs60A"></script>
<script src="/public/js/main.js" type="text/javascript"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('6LfSA-cUAAAAAObr_BLgvv4qXjVhhSjRhgXIs60A', { action: 'validate_captcha' })
            .then(function (token) {
                // add token value to form
                document.getElementById('gRecaptchaResponse').value = token;
        });
    });

    $(`[id^=accept-story-btn]`).click((e)=>{
        let id = parseInt( e.currentTarget.value);
        let gRecaptchaResponse = $('#gRecaptchaResponse').val()
        $.post("/storyAction", { id, accept:true, gRecaptchaResponse }, function (data) {
            location.reload();
        })
    })
    
    $('[id^=reject-story-btn]').click((e)=>{
        let id = parseInt( e.currentTarget.value);
        let gRecaptchaResponse = $('#gRecaptchaResponse').val()
        $.post("/storyAction", { id, accept:false,gRecaptchaResponse }, function (data) {
            location.reload();
        })
    })
</script>